body{
    margin: 15px;
}
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    background-color: #ffffff; /* color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #585858; /* color of the scrollbar handle */
    border-radius: 4px; /* roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #2f2f2f; /* color of the scrollbar handle on hover */
}

form{
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 25px;
}
body{
    color: #939393;
    font-family: 'Poppins', sans-serif;
    background:  hsl(0, 0%, 98%) !important;
}
.container{
    margin-top: 150px !important;
}
.form-container {
    background: white;
    padding: 50px;
    border-radius: 12px;
    width: 57%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-header{
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.button-9 {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 80%;
}

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.button-9:hover{
    background-color: #1e40fb;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.button-9-2 {
    backface-visibility: hidden;
    background-color: #3aa30a;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 80%;
}

.button-9-2:disabled {
    cursor: default;
}

.button-9-2:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 211, 53, 0.3) 0 0 0 4px;
}
.button-9-2:hover{
    background-color: #12b500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.formFooter{
    display: flex;
    justify-content: space-between;
}
.formFooter a {
    margin-top: 25px;
    font-size: 110%;
    text-decoration: none;
}

.formFooter a i {
    margin-right: 10px;
    font-size: 120%;
}
input[type="text"]{
    height: 40px;
}

h3{
    margin-right: 200px;
}
.message {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 9999;
    padding: 30px;
}

.success-message {
    background-color: #28a745;
    color: #fff;
}

.error-message {
    background-color: #dc3545;
    color: #fff;
}
.hide{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.card{
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-10{
    font-size: 80%;
    margin-left: 10px;
    background-color: #ff4b4b;
}
.btn-10:hover{
    background-color: #fb0c0c;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.btn-10:focus {

    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgb(0 0 0 / 10%) 0 2px 2px 0, rgb(211 50 50 / 30%) 0 0 0 4px;
}
.custom-container {
    max-width: 1300px;
    margin: 0 auto;
    margin-left: 150px;
    width: 70%;
}
.card-buttons{
    margin: auto;
    width: 80%;
}
.demand-fields h4{
    margin-left: 50px;
    font-size: 110% !important;
}
.card{
    width: 90%;
}
.first-h4{
    text-align: center;
    font-weight: 350 !important;
}
.demand-fields b{
    color: #717171;
    font-weight: 600;
    font-size: 94%;
}

.hidden {
    opacity: 0;
}

.form-wrapper{
    transition: opacity 0.6s ease-in-out;
}
#updateForm{
    opacity: 0;
    position: fixed;
}
.shown{
    opacity: 1 !important;
    position: relative !important;
}